body {
	background: #007991;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.fondo{
	background: #007991;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}




/* Login */
.login {		
	color: #636363;
	width: 350px;
}
.login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.login .form-control:focus {
	border-color: #70c5c0;
}
.login .form-control, .login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.login .modal-footer a {
	color: #999;
}		
.login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #60c7c1;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login .avatar img {
	width: 100%;
}
.login.modal-dialog {
	margin-top: 80px;
}
.login .btn, .login .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.login .btn:hover, .login .btn:focus {
	background: #45aba6 !important;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

/* fin Login */


/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
	background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
	background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
	height: 24px;
	width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
	background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
	position: fixed;
	height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
	background: #007991;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
	fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
	display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
	background: rgba(0, 0, 0, 0.3);
  }
  .colortext{
	  color: black;
  }